<footer>
  <br>
  <a> Check us out on our social media!</a><br><br>

  <img src="fb.png" alt="Facebook logo" style="width:5%; padding-right:1%"> &nbsp;&nbsp;&nbsp;&nbsp

  <img src="tw.png" alt="Twitter logo" style="width:5%; padding-left:1%"><br><br>

  <a>Careers</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp

  <a>Social good</a><br>
</footer>