<footer>
  <img src="fb.png" alt="Facebook logo"> &nbsp;&nbsp;&nbsp;&nbsp

  <img src="tw.png" alt="Twitter logo"><br>

  <a>Careers</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp

  <a>Social good</a><br>
</footer>
