
<aside>
  <ul>
      <li><a href="/scheduleDroppOff">Schedule a drop off</a></li>
      <li><a href="/donationRecord">Donation record</a></li>
      <li><a href="/impactOfDonations">Impact of donations</a></li>
      <li><a href="/account">Account</a></li>
  </ul>
</aside>
