<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> scheduleDroppOff</title>
  </head>
  <body>

    <p> <a href="/scheduleDroppOff">Schedule a Dropp Off  </a> > <a href="/donationRecord">Donation Record  </a> > <a href="/account">Account  </a> > <a href="/imp
      ">Impact of your Donation </a> <p><br>

    <% include partials/user-profile-navigation.ejs %>


  </body>
</html>
