<!Doctype HTML>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title> Registration Involved as a Volunteer</title>
</head>

<body>
  <header>
      <nav class="navbar navbar-style">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <img class="logo" src="logo.png" >
              </div>
              <div class="collapse navbar-collapse" id="micon">
                  <ul class="nav navbar-nav navbar-right">

                      <li><a href="/">Home</a></li>
                      <li><a href="/involved">Get Involved</a></li>
                      <li><a href="/Newsletter">Newsletter</a></li>
                      <li><a href="/Signin">Sign In</a></li>

                  </ul>
              </div>
          </div>

      </nav>
  </header>

  <div class="homepage-content">
    <div class="homepage-main-text">

      <span class="h1-heading-margins">
        <h1>Application form to be a Volunteer</h1>
      </span>

      <div class="form-container">
        <div class="form">

          <form id="volunteer-form-signup" action="/volInfo*" method="POST">

            <div class="forum-element">
              <label>First Name:</label>
              <input type="text" value="" placeholder="First Name" aria-required="true">
            </div>

            <div class="forum-element">
              <label>Last Name:</label>
              <input type="text" value="" placeholder="Last Name" aria-required="true">
            </div>

            <div class="forum-element">
              <label>Address:</label>
              <input type="text" value="" placeholder="Address">
            </div>

            <div class="forum-element">
              <label>Email:</label>
              <input type="email" value="" placeholder="Email" aria-required="true">
            </div>


            <div class="forum-element">
              <label>Age:</label>
              <input type="number" value="" placeholder="Age" aria-required="true" min="13">
            </div>

            <div class="forum-element">
              <label>Phone Number:</label>
              <input type="tel" placeholder="XXX-XXX-XXXX" class="2ndelement" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                aria-required="true"><br>
            </div>

            <div class="forum-element">
              <label>Gender:</label>
              <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <div>
              <label>Do you have any past volunteering experience :</label>
              <input type="radio" name="experience" value="yes"> Yes
              <input type="radio" name="experience" value="no" checked> No

            </div>

            <div>
              <label>Why do you want to be a mEATS volunteer:</label><br>
              <textarea id="why-text-area"> </textarea>
            </div>


            <div id="volunteer-signup-button-container">
              <button type="submit" id="volunteer-form-button">submit</button>
            </div>





          </form>




        </div>
        <!--<a id="loginRegistrationLink" href="registrationPage.html">You don't have an account? Please register here.</a>-->
      </div>
    </div>
  </div>


</body>

</html>
