*{
    margin: 0;
    padding: 0;

}

.navbar-nav {
    
    text-align: center;
    
  }
  
.header
{
    height:100 vh;
}
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
}
.logo 
{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar
{
    background: black;
}
.big-text
{
    font-size: 52px;
    margin: 20px;
}
.mid-text
{
    font-size: 42px;
}

a.btn {
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0;
    text-align: center;
  }
  
  .text {
    color: grey;
    font-size: 18px;
    
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: #F5C3C2;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    align-content: center;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .card2{
      align-content: center;
  }
  *{
    margin: 0;
    padding: 0;

}

  /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  
  
  
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }